html, body {
  background: #4B4E6D;
  font-family: 'arial';
  font-size: 20px;
  color: #FFFFFF;

}

p {
    font-size:16px;
    line-height:1.5px;
    margin-bottom:24px;
}
h1{
  font-size:24px;
  border-bottom: 1.5px solid #FFFFFF;
  padding: 20px 0 0;
  color: #84DCC6;
}
a {
  color:#FFFFFF;
  font-size: 16px;

}
h2{
  font-size: 22px;
  color: #84DCC6;

}
h3{
  font-size: 20px;
  color: #84DCC6;
}
