html, body {
  background: #4B4E6D;
  font-family: 'lato', 'arial';
  font-size: 20px;
  color: #222222;
}

p {
    font-size:16px;
    line-height:1.5px;
    margin-bottom:24px;
}
h1{
  border-bottom: 1.5px solid #2B2D42;
  padding: 20px 0 0;
  color: #95A3B3;
}
